Makefile
Makefile.am
Makefile.am.common
Makefile.in
aclocal.m4
config.cache
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
doc/autodocs
install-sh
missing
mkinstalldirs
stamp-h
squid.pot
autom4te.cache
autodocs-cc-off.ami
autodocs-cc-base.ami
pluglib-bindings.ami
autodocs-ycp.ami
autodocs-cc.ami
*.m4
*.ami
agents/src/.deps/
agents/src/.libs/
agents/src/*.lo
agents/src/*.la
config.h
doc/autodocs/.yardoc/
doc/autodocs/css/
doc/autodocs/js/
/libtool
/ltmain.sh
/stamp-*
testsuite/raw.tmp.err.*
testsuite/raw.tmp.out.*
.yardoc/
